#!/usr/bin/env sh

dotenv

# # Terraform Cloud Creds
# TFE_TOKEN="$(op read op://personal/TerraformCloud-PAT/credential)"
# export TFE_TOKEN

# # DigitalOcean Creds
DIGITALOCEAN_TOKEN="$(op read op://personal/DigitalOcean-PAT/token)"
DIGITALOCEAN_ACCESS_TOKEN="${DIGITALOCEAN_TOKEN}"
# SPACES_ACCESS_KEY_ID="${SPACES_ACCESS_KEY_ID:="$(op read op://personal/DigitalOcean-S3Access/username)"}"
# SPACES_SECRET_ACCESS_KEY="$(op read op://personal/DigitalOcean-S3Access/credential)"
export DIGITALOCEAN_TOKEN DIGITALOCEAN_ACCESS_TOKEN # SPACES_ACCESS_KEY_ID SPACES_SECRET_ACCESS_KEY

# Cloudflare Creds
CLOUDFLARE_API_TOKEN="$(op read op://personal/Cloudflare-PAT/credential)"
TF_VAR_cloudflare_api_token="${CLOUDFLARE_API_TOKEN}"
export CLOUDFLARE_API_TOKEN TF_VAR_cloudflare_api_token

# # Vault Creds
# VAULT_ADDR=https://vault.vyas-n.com
# VAULT_TOKEN="$(op read op://personal/Vault-RootToken/credential)"
# # VAULT_TOKEN="$(curl --request POST --data "{\"token\": \"$(op read op://personal/github-pat/credential)\"}" $VAULT_ADDR/v1/auth/github/login | dasel -r json -w plain '.auth.client_token')"
# export VAULT_TOKEN VAULT_ADDR
