#!/usr/bin/env sh

dotenv

echo "${DIGITALOCEAN_TOKEN:?Digital Ocean API Token is not set. Terraform cannot function without it.}" >/dev/null

echo "${CLOUDFLARE_API_TOKEN:?Cloudflare API Token is not set. Terraform cannot function without it.}" >/dev/null

# export VAULT_TOKEN="$(curl --request POST --data "{\"token\": \"$(op read op://personal/github-pat/credential)\"}" $VAULT_ADDR/v1/auth/github/login | dasel -r json -w plain '.auth.client_token')"
# export VAULT_TOKEN="$(op read op://personal/"Vault: Root Token"/credential)"
