#!/usr/bin/env bash

export ANSIBLE_CONFIG=$(expand_path ./ansible/ansible.cfg)

# Used by ansible to lookup secrets
#
# TODO: refactor terraform to also use this secret
export OP_SERVICE_ACCOUNT_TOKEN=$(op read 'op://personal/1Pass-ServiceAccount-HomeLab-Laptop-Deploy/credential')
