# gitignore Format Ref: https://git-scm.com/docs/gitignore

# Secrets
.env
license.yaml
*.snap

# Packages
.terraform/
.ansible/

# Generated / Temp Files
.DS_Store
*.tfstate*
.direnv/

# Outputs
generated/
kubeconfig.yaml
