# gitignore Format Ref: https://git-scm.com/docs/gitignore

# Secrets
license.yaml
*.snap

# Packages
.ansible/
.nix-defexpr/
.terraform/
.trunk/
.venv/

# Generated / Temp Files
.DS_Store
*.tfstate*
.direnv/

# Outputs
generated/
kubeconfig.yaml
data/
!.gitkeep
