#!/usr/bin/env sh

# DigitalOcean
TF_VAR_digitalocean_token="$(op read 'op://personal/DigitalOcean-PAT-for-Terraform-Cloud-vyas-n/token')"
TF_VAR_digitalocean_spaces_access_key_id="$(op read 'op://personal/DigitalOcean-S3Access-for-Terraform-Cloud-vyas-n/access key id')"
TF_VAR_digitalocean_spaces_secret_access_key="$(op read 'op://personal/DigitalOcean-S3Access-for-Terraform-Cloud-vyas-n/secret access key')"
export TF_VAR_digitalocean_token TF_VAR_digitalocean_spaces_access_key_id TF_VAR_digitalocean_spaces_secret_access_key
