---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/bookmarks

- SaaS Services:
  - Cloudflare:
    - href: https://dash.cloudflare.com
      icon: sh-cloudflare.svg
  - GitHub:
    - href: https://github.com
      icon: sh-github.svg
  - Grafana:
    - href: https://vyasn.grafana.net
      icon: sh-grafana.svg
  - Tailscale:
    - href: https://login.tailscale.com
      icon: sh-tailscale.svg

- Tracking / Stats:
  - YNAB:
    - href: https://https://app.ynab.com
      icon: sh-ynab.svg
  - The StoryGraph:
    - href: https://app.thestorygraph.com

- Developer Docs:
  - Homepage docs:
    - href: https://gethomepage.dev/widgets/
      icon: sh-homepage
  - Self-Hosted Icons:
    - href: https://selfh.st/icons/
      icon: sh-selfh-st.svg

- Entertainment:
  - YouTube:
    - href: https://youtube.com
      icon: sh-youtube.svg
  - Twitch:
    - href: https://twitch.tv
      icon: sh-twitch.svg

- Training:
  - A Cloud Guru:
    - href: https://learn.acloud.guru
