#!/usr/bin/env sh

# TODO: replace with tf data source feeding into tfe provider config
TF_VAR_external_secrets_onepassword_service_account_token="$(op read 'op://personal/1Pass Service Account Auth Token - HomeLab/credential')"
export TF_VAR_external_secrets_onepassword_service_account_token
