---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/bookmarks

- Developer:
  - GitHub:
    - href: https://github.com/
      icon: sh-github.svg
  - Homepage docs:
    - href: https://gethomepage.dev/widgets/
      icon: sh-homepage
  - Self-Hosted Icons:
    - href: https://selfh.st/icons/
      icon: sh-selfh-st.svg
  - Tailscale:
    - href: https://login.tailscale.com
      icon: sh-tailscale.svg
- Entertainment:
  - YouTube:
    - href: https://youtube.com/
      icon: sh-youtube.svg
