#!/usr/bin/env sh

# Wasabi S3 Access Credentials
AWS_ACCESS_KEY_ID="$(op read 'op://personal/Wasabi S3 Access Key/access key id')"
AWS_SECRET_ACCESS_KEY="$(op read 'op://personal/Wasabi S3 Access Key/secret access key')"
export AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY

# ZeroSSL Credentials
ZEROSSL_EAB_KID="$(op read 'op://personal/ZeroSSL EAB - Vyas/EAB KID')"
ZEROSSL_EAB_HMAC_KEY="$(op read 'op://personal/ZeroSSL EAB - Vyas/EAB HMAC Key')"
TF_VAR_zerossl_eab_hmac_key="${ZEROSSL_EAB_HMAC_KEY}"
export ZEROSSL_EAB_KID ZEROSSL_EAB_HMAC_KEY TF_VAR_zerossl_eab_hmac_key
