---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/bookmarks

- Developer:
  - GitHub:
    - abbr: GH
      href: https://github.com/
  - Homepage docs:
    - href: https://gethomepage.dev/widgets/

- Entertainment:
  - YouTube:
    - abbr: YT
      href: https://youtube.com/
