---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services

- Network:
  - Vyas's Home Network:
      href: https://unifi.ui.com/consoles/0CEA144D1F27000000000871A9680000000008E4BFA800000000671C5D48:243437069/network/default/dashboard
      siteMonitor: https://192.168.2.1
      ping: 192.168.2.1
      widget:
        type: unifi
        url: https://192.168.2.1
        username: {{ unifi_gateway_username }}
        password: "{{ unifi_gateway_password }}"
        node: proxmox-1 # optional

- Storage:
  - TrueNAS:
      href: https://truenas.hosts.vyas-n.dev
      siteMonitor: https://truenas.hosts.vyas-n.dev
      ping: truenas.hosts.vyas-n.dev
      widget:
        type: truenas
        url: https://truenas.hosts.vyas-n.dev
        key: {{ truenas_api_key }}
        enablePools: true
        nasType: scale

- Compute:
  - Proxmox:
      href: https://proxmox-1.hosts.vyas-n.dev
      siteMonitor: https://proxmox-1.hosts.vyas-n.dev
      ping: proxmox-1.hosts.vyas-n.dev
      widget:
        type: proxmox
        url: https://proxmox-1.hosts.vyas-n.dev
        username: {{ proxmox_token_id }}
        password: {{ proxmox_api_token }}
        node: proxmox-1 # optional
