---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services

# For icons, use `sh-<icon>`: https://selfh.st/icons/

- Network:
  - Unifi (Vyas's Home Network):
      href: https://unifi.ui.com/consoles/0CEA144D1F27000000000871A9680000000008E4BFA800000000671C5D48:243437069/network/default/dashboard
      siteMonitor: https://192.168.2.1
      ping: 192.168.2.1
      icon: sh-ubiquiti-unifi.svg
      widget:
        type: unifi
        url: https://192.168.2.1
        username: {{ unifi_gateway_username }}
        password: "{{ unifi_gateway_password }}"
  - HomeLab Subnet Router 1 (truenas):
      href: https://login.tailscale.com/admin/machines/100.115.73.35
      icon: sh-tailscale.svg
      fields: ["last_seen", "expires"]
      widget:
        type: tailscale
        deviceid: ngJRMc3Uw911CNTRL
        key: {{ tailscale_api_token }}
  - HomeLab Subnet Router 2 (proxmox-1):
      href: https://login.tailscale.com/admin/machines/100.103.208.83
      icon: sh-tailscale.svg
      fields: ["last_seen", "expires"]
      widget:
        type: tailscale
        deviceid: nrSocMUu9t11CNTRL
        key: {{ tailscale_api_token }}

- Storage:
  - TrueNAS:
      href: https://truenas.hosts.vyas-n.dev
      siteMonitor: https://truenas.hosts.vyas-n.dev
      ping: truenas.hosts.vyas-n.dev
      icon: sh-truenas-scale.svg
      widget:
        type: truenas
        url: https://truenas.hosts.vyas-n.dev
        key: {{ truenas_api_key }}
        enablePools: true
        nasType: scale

- Compute:
  - Proxmox-1:
      href: https://proxmox-1.hosts.vyas-n.dev
      siteMonitor: https://proxmox-1.hosts.vyas-n.dev
      ping: proxmox-1.hosts.vyas-n.dev
      icon: sh-proxmox.svg
      widget:
        type: proxmox
        url: https://proxmox-1.hosts.vyas-n.dev
        username: {{ proxmox_token_id }}
        password: {{ proxmox_api_token }}
        node: proxmox-1

- Docker Containers: []
