---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/service-widgets

- resources:
    label: System
    expanded: true
    cpu: true
    memory: true

- search:
    provider: duckduckgo
    target: _blank
