---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/service-widgets

- unifi_console:
    url: https://192.168.2.1
    username: {{ unifi_gateway_username }}
    password: "{{ unifi_gateway_password }}"

- resources:
    label: System
    expanded: true
    cpu: true
    memory: true
    cputemp: true
    uptime: true
